In [1]:
import pandas as pd
pd.__version__

'0.21.0'

In [2]:
data_dir = 'data/'
data_transanctions = data_dir + 'transactions/'
data_clicks = data_dir + 'clicks/'
data_impressions = data_dir + 'impressions/'
data_pageViews = data_dir + 'pageViews/'

In [3]:
df_transactions = pd.read_json(data_transanctions + 'part-00', lines=True)
df_clicks = pd.read_json(data_clicks + 'part-00', lines=True)
df_impressions = pd.read_json(data_impressions + 'part-00', lines=True)
df_pageViews = pd.read_json(data_pageViews + 'part-00', lines=True)

In [4]:
print('Transactions:', len(df_transactions))
print('Clicks:', len(df_clicks))
print('Impressions:', len(df_impressions))
print('PageViews:', len(df_pageViews))

Transactions: 5066
Clicks: 51517
Impressions: 926924
PageViews: 1072082

In [24]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

In [5]:
df_transactions.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5066 entries, 0 to 5065
Data columns (total 7 columns):
ab             5066 non-null object
id             5066 non-null int64
info           5066 non-null object
items          5066 non-null object
paymentType    0 non-null float64
timestamp      5066 non-null datetime64[ns]
type           5066 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 3.0 MB

In [6]:
df_clicks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51517 entries, 0 to 51516
Data columns (total 9 columns):
ab           51517 non-null object
feature      51517 non-null int64
id           51517 non-null int64
info         51517 non-null object
page         51517 non-null object
product      51517 non-null int64
timestamp    51517 non-null datetime64[ns]
type         51517 non-null object
vrlId        51517 non-null int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 29.8 MB

In [7]:
df_impressions.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926924 entries, 0 to 926923
Data columns (total 10 columns):
ab           926924 non-null object
algRef       926924 non-null int64
feature      926924 non-null int64
id           926924 non-null int64
info         926924 non-null object
page         926924 non-null object
products     926924 non-null object
timestamp    926924 non-null datetime64[ns]
type         926924 non-null object
vrlId        926924 non-null int64
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 611.3 MB

In [18]:
df_pageViews.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1072082 entries, 0 to 1072081
Data columns (total 6 columns):
ab           1072082 non-null object
id           1072082 non-null int64
info         1072082 non-null object
name         1072082 non-null object
tags         781486 non-null object
timestamp    1072082 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 676.0 MB

In [ ]:
# df.select_dtypes(include=['object']).describe()

In [10]:
df_transactions.head()

,ab,id,info,items,paymentType,timestamp,type
0,F/-8514449600553721711,-8468716808217914046,"{'browserId': 787012871705135056, 'browser': '...","[{'id': -2946697713091517060, 'price': 99.99, ...",NaN,2017-09-13 16:12:46,transaction
1,C/-4157417249875967771,103257389481310034,"{'browserId': 3879043729920840203, 'browser': ...","[{'id': -7444430477752553485, 'price': 86.24, ...",NaN,2017-09-13 16:30:39,transaction
2,G/-2382791529923951593,998471017524245573,"{'browserId': -5389786785786592819, 'browser':...","[{'id': -4553141046227747134, 'price': 154.9, ...",NaN,2017-09-13 16:14:05,transaction
3,B/-7474144324138992870,-8392062821901812660,"{'browserId': -3978845478002365252, 'browser':...","[{'id': -5154934163428414730, 'price': 74.99, ...",NaN,2017-09-13 16:34:50,transaction
4,B/3836039149292236146,-1437509789217736858,"{'browserId': -4978600350686100027, 'browser':...","[{'id': 7311257587267350768, 'price': 359.99, ...",NaN,2017-09-13 16:30:41,transaction

In [11]:
df_clicks.head()

,ab,feature,id,info,page,product,timestamp,type,vrlId
0,A/-2433577766061835784,2406596896456549791,8765249957191,"{'browserId': 1865329336598195445, 'browser': ...",category,6952869018143429188,2017-09-13 12:58:08,clicklog,-8377820109229386856
1,A/-621823323795459513,-7828424103269057573,8765249957191,"{'browserId': 3258854675349784616, 'browser': ...",product,-5138915283570447380,2017-09-13 12:08:00,clicklog,6627298913942488713
2,F/-1849947433184614682,-4092588031201132965,8765249957191,"{'browserId': 5809670802835063900, 'browser': ...",product,5189448167622118003,2017-09-13 12:47:09,clicklog,6141716575792695306
3,G/4536958708000369694,-7828424103269057573,8765249957191,"{'browserId': 1707018823425502703, 'browser': ...",product,6232867567143294667,2017-09-13 12:12:30,clicklog,2931152851733422991
4,D/-6638903481051323134,2406596896456549791,8765249957191,"{'browserId': -5013253789058082303, 'browser':...",category,8439158233758681546,2017-09-13 12:00:18,clicklog,4251262299046076363

In [12]:
df_impressions.head()

,ab,algRef,feature,id,info,page,products,timestamp,type,vrlId
0,G/7849515658654400358,5321418768591000592,-7828424103269057573,8765249957191,"{'browserId': 2077291510979737164, 'browser': ...",product,"[3653391013242405988, 3492582560532754791]",2017-08-26 00:05:22,viewreclog,8765249957191
1,E/-9206771770294839467,8765249957191,5603092165415881620,8765249957191,"{'browserId': -5794300198289426830, 'browser':...",search,"[1983875142539570898, -1617532069770397932]",2017-08-26 00:05:22,viewreclog,8765249957191
2,B/5469036284027064790,-7316380623456322413,5603092165415881620,8765249957191,"{'browserId': -5824671029704807593, 'browser':...",category,"[8345817602690948093, -4685433540937644115]",2017-08-26 00:05:22,viewreclog,8765249957191
3,H/1514327774359276100,8765249957191,-4092588031201132965,8765249957191,"{'browserId': 803065015979834204, 'browser': '...",product,"[4339435368953319849, -655160631340267337]",2017-08-26 00:05:23,viewreclog,8765249957191
4,A/-5014290602732537686,8765249957191,-4092588031201132965,8765249957191,"{'browserId': -7681599627122648286, 'browser':...",product,"[2106426664978872773, 1141620332716626693, -64...",2017-08-26 00:05:23,viewreclog,8765249957191

In [19]:
df_pageViews.head()

,ab,id,info,name,tags,timestamp
0,F/-4674034584350596422,8765249957191,"{'browserId': -8901737309149095989, 'browser':...",category,"[-5990677861896497487, -5075272788001827571]",2017-08-26 12:18:26
1,F/-3370818432877482132,8765249957191,"{'browserId': -6952411218239337506, 'browser':...",category,[-2893307141820608162],2017-08-26 12:18:26
2,H/-6833017977536873480,8765249957191,"{'browserId': -7304148636562131161, 'browser':...",category,[4904411018503081477],2017-08-26 12:18:26
3,G/-5201470044805936293,8765249957191,"{'browserId': -5836905034004402498, 'browser':...",product,"[3181866419805229915, 5150372196067342755, 189...",2017-08-26 12:18:26
4,E/-2183580581788687574,8765249957191,"{'browserId': 7440345113969891771, 'browser': ...",search,NaN,2017-08-26 12:18:27

In [32]:
print(mem_usage(df_pageViews))
df_pageViews.drop('type', axis=1, inplace=True)
print(mem_usage(df_pageViews))
df_pageViews.name = df_pageViews.name.astype('category')
print(mem_usage(df_pageViews))
df_pageViews.drop('tags', axis=1, inplace=True)
print(mem_usage(df_pageViews))

49.20 MB
49.20 MB
611.86 MB
505.59 MB

In [52]:
df_pageViews['info'][0]

{'browser': 'Firefox Beta 4.0 b12',
 'browserId': -8901737309149095989,
 'geoIPLatitude': None,
 'geoIPLongitude': None,
 'os': 'Linux',
 'source': 'desktop'}

In [60]:
user_ids, oss, sources, browsers = [], [], [], []
for info in df_pageViews['info']:
    user_ids.append(info['browserId'])
    oss.append(info['os'])
    sources.append(info['source'])
    browsers.append(info['browser'])

In [61]:
print(len(user_ids))
print(len(oss))
print(len(sources))
print(len(browsers))

1072082
1072082
1072082
1072082

In [65]:
df_pageViews['user_id'] = user_ids
df_pageViews['os'] = oss
df_pageViews['source'] = sources
df_pageViews['browser'] = browsers

In [66]:
df_pageViews.head()

,ab,id,info,name,timestamp,user_id,os,source,browser
0,F/-4674034584350596422,8765249957191,"{'browserId': -8901737309149095989, 'browser':...",category,2017-08-26 12:18:26,-8901737309149095989,Linux,desktop,Firefox Beta 4.0 b12
1,F/-3370818432877482132,8765249957191,"{'browserId': -6952411218239337506, 'browser':...",category,2017-08-26 12:18:26,-6952411218239337506,Android 5.1.1,mobile,Chrome Mobile 59.0.3071
2,H/-6833017977536873480,8765249957191,"{'browserId': -7304148636562131161, 'browser':...",category,2017-08-26 12:18:26,-7304148636562131161,Android 6.0,mobile,Chrome Mobile 60.0.3112
3,G/-5201470044805936293,8765249957191,"{'browserId': -5836905034004402498, 'browser':...",product,2017-08-26 12:18:26,-5836905034004402498,Windows 8,desktop,Chrome 60.0.3112
4,E/-2183580581788687574,8765249957191,"{'browserId': 7440345113969891771, 'browser': ...",search,2017-08-26 12:18:27,7440345113969891771,Android 6.0,mobile,Chrome Mobile 60.0.3112

In [68]:
user_ids, oss, sources, browsers = None, None, None, None

In [70]:
print(mem_usage(df_pageViews))
df_pageViews.source = df_pageViews.source.astype('category')
print(mem_usage(df_pageViews))

724.59 MB
660.64 MB

In [74]:
df_pageViews.browser[0:9]

0       Firefox Beta 4.0 b12
1    Chrome Mobile 59.0.3071
2    Chrome Mobile 60.0.3112
3           Chrome 60.0.3112
4    Chrome Mobile 60.0.3112
5       Mobile Safari 10.0.0
6           Chrome 60.0.3112
7       Mobile Safari 10.0.0
8    Chrome Mobile 51.0.2704
Name: browser, dtype: object

In [96]:
df_pageViews.browser = df_pageViews.browser.str.replace('Mobile ', '')

In [97]:
df_pageViews.browser[0].split(' ')[0]

'Firefox'

In [110]:
browsers = []
for browser in df_pageViews.browser.str.split(' '):
    browsers.append(browser[0])
df_pageViews.browser = browsers

In [112]:
df_pageViews.head()

,ab,id,info,name,timestamp,user_id,os,source,browser
0,F/-4674034584350596422,8765249957191,"{'browserId': -8901737309149095989, 'browser':...",category,2017-08-26 12:18:26,-8901737309149095989,Linux,desktop,Firefox
1,F/-3370818432877482132,8765249957191,"{'browserId': -6952411218239337506, 'browser':...",category,2017-08-26 12:18:26,-6952411218239337506,Android 5.1.1,mobile,Chrome
2,H/-6833017977536873480,8765249957191,"{'browserId': -7304148636562131161, 'browser':...",category,2017-08-26 12:18:26,-7304148636562131161,Android 6.0,mobile,Chrome
3,G/-5201470044805936293,8765249957191,"{'browserId': -5836905034004402498, 'browser':...",product,2017-08-26 12:18:26,-5836905034004402498,Windows 8,desktop,Chrome
4,E/-2183580581788687574,8765249957191,"{'browserId': 7440345113969891771, 'browser': ...",search,2017-08-26 12:18:27,7440345113969891771,Android 6.0,mobile,Chrome

In [113]:
browsers = None

In [115]:
print(mem_usage(df_pageViews))
df_pageViews.browser = df_pageViews.browser.astype('category')
print(mem_usage(df_pageViews))

647.76 MB
584.37 MB

In [119]:
oss = []
for os in df_pageViews.os.str.split(' '):
    oss.append(os[0])
df_pageViews.os = oss

In [120]:
df_pageViews.head()

,ab,id,info,name,timestamp,user_id,os,source,browser
0,F/-4674034584350596422,8765249957191,"{'browserId': -8901737309149095989, 'browser':...",category,2017-08-26 12:18:26,-8901737309149095989,Linux,desktop,Firefox
1,F/-3370818432877482132,8765249957191,"{'browserId': -6952411218239337506, 'browser':...",category,2017-08-26 12:18:26,-6952411218239337506,Android,mobile,Chrome
2,H/-6833017977536873480,8765249957191,"{'browserId': -7304148636562131161, 'browser':...",category,2017-08-26 12:18:26,-7304148636562131161,Android,mobile,Chrome
3,G/-5201470044805936293,8765249957191,"{'browserId': -5836905034004402498, 'browser':...",product,2017-08-26 12:18:26,-5836905034004402498,Windows,desktop,Chrome
4,E/-2183580581788687574,8765249957191,"{'browserId': 7440345113969891771, 'browser': ...",search,2017-08-26 12:18:27,7440345113969891771,Android,mobile,Chrome

In [121]:
oss = None

In [122]:
print(mem_usage(df_pageViews))
df_pageViews.os = df_pageViews.os.astype('category')
print(mem_usage(df_pageViews))

580.83 MB
516.84 MB

In [128]:
df_pageViews.drop('info', axis=1, inplace=True)
print(mem_usage(df_pageViews))

156.95 MB

In [129]:
df_pageViews.id = df_pageViews.id.astype('category')
print(mem_usage(df_pageViews))

149.80 MB

In [130]:
df_pageViews.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1072082 entries, 0 to 1072081
Data columns (total 8 columns):
ab           1072082 non-null object
id           1072082 non-null category
name         1072082 non-null category
timestamp    1072082 non-null datetime64[ns]
user_id      1072082 non-null int64
os           1072082 non-null category
source       1072082 non-null category
browser      1072082 non-null category
dtypes: category(5), datetime64[ns](1), int64(1), object(1)
memory usage: 149.8 MB

In [132]:
print(mem_usage(df_pageViews.ab))

128.32 MB

In [136]:
groups, sessions = [], []
for ab in df_pageViews.ab.str.split('/'):
    groups.append(ab[0])
    sessions.append(ab[1])
df_pageViews['group'] = groups
df_pageViews['session'] = sessions

In [137]:
df_pageViews.head()

,ab,id,name,timestamp,user_id,os,source,browser,group,session
0,F/-4674034584350596422,8765249957191,category,2017-08-26 12:18:26,-8901737309149095989,Linux,desktop,Firefox,F,-4674034584350596422
1,F/-3370818432877482132,8765249957191,category,2017-08-26 12:18:26,-6952411218239337506,Android,mobile,Chrome,F,-3370818432877482132
2,H/-6833017977536873480,8765249957191,category,2017-08-26 12:18:26,-7304148636562131161,Android,mobile,Chrome,H,-6833017977536873480
3,G/-5201470044805936293,8765249957191,product,2017-08-26 12:18:26,-5836905034004402498,Windows,desktop,Chrome,G,-5201470044805936293
4,E/-2183580581788687574,8765249957191,search,2017-08-26 12:18:27,7440345113969891771,Android,mobile,Chrome,E,-2183580581788687574

In [138]:
groups, sessions = None, None

In [139]:
print(mem_usage(df_pageViews))
df_pageViews.drop('ab', axis=1, inplace=True)
print(mem_usage(df_pageViews))
df_pageViews.group = df_pageViews.group.astype('category')
print(mem_usage(df_pageViews))
df_pageViews.session = df_pageViews.session.astype('category')
print(mem_usage(df_pageViews))

295.37 MB
215.23 MB
148.77 MB
94.17 MB

In [144]:
df_pageViews.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1072082 entries, 0 to 1072081
Data columns (total 9 columns):
id           1072082 non-null category
name         1072082 non-null category
timestamp    1072082 non-null datetime64[ns]
user_id      1072082 non-null int64
os           1072082 non-null category
source       1072082 non-null category
browser      1072082 non-null category
group        1072082 non-null category
session      1072082 non-null category
dtypes: category(7), datetime64[ns](1), int64(1)
memory usage: 94.2 MB