In [1]:
import pandas as pd
pd.__version__

'0.21.0'

In [2]:
data_dir = 'data/'
data_transanctions = data_dir + 'transactions/full_transactions.pickle'
data_clicks = data_dir + 'clicks/full_clicks.pickle'
data_impressions = data_dir + 'impressions/full_impressions.pickle'
data_pageViews = data_dir + 'pageViews/full_pageViews.pickle'

In [3]:
df_transactions = pd.read_pickle(data_transanctions)
len(df_transactions)

109194

In [4]:
df_clicks = pd.read_pickle(data_clicks)
len(df_clicks)

1183002

In [5]:
df_impressions = pd.read_pickle(data_impressions)
len(df_impressions)

25798767

In [6]:
df_pageViews = pd.read_pickle(data_pageViews)
len(df_pageViews)

30367518

In [7]:
len(df_transactions) + len(df_clicks) + len(df_impressions) + len(df_pageViews)

57458481

## Revenue per visitor && Transactions per visitor

In [8]:
df_transactions.head()

,id,items,paymentType,timestamp,user_id,os,source,browser,group,session
0,-8468716808217914046,"[{'id': -2946697713091517060, 'price': 99.99, ...",NaN,2017-09-13 16:12:46,787012871705135056,Windows,desktop,Chrome,F,-8514449600553721711
1,103257389481310034,"[{'id': -7444430477752553485, 'price': 86.24, ...",NaN,2017-09-13 16:30:39,3879043729920840203,Windows,desktop,Chrome,C,-4157417249875967771
2,998471017524245573,"[{'id': -4553141046227747134, 'price': 154.9, ...",NaN,2017-09-13 16:14:05,-5389786785786592819,Windows,desktop,Chrome,G,-2382791529923951593
3,-8392062821901812660,"[{'id': -5154934163428414730, 'price': 74.99, ...",NaN,2017-09-13 16:34:50,-3978845478002365252,Windows,desktop,Chrome,B,-7474144324138992870
4,-1437509789217736858,"[{'id': 7311257587267350768, 'price': 359.99, ...",NaN,2017-09-13 16:30:41,-4978600350686100027,Android,mobile,Chrome,B,3836039149292236146

In [9]:
df_transactions.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109194 entries, 0 to 1475
Data columns (total 10 columns):
id             109194 non-null category
items          109194 non-null object
paymentType    0 non-null category
timestamp      109194 non-null datetime64[ns]
user_id        109194 non-null category
os             109194 non-null category
source         109194 non-null category
browser        109194 non-null category
group          109194 non-null category
session        109194 non-null category
dtypes: category(8), datetime64[ns](1), object(1)
memory usage: 30.9 MB

In [10]:
df_transactions.drop('paymentType', axis=1, inplace=True)
df_transactions.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109194 entries, 0 to 1475
Data columns (total 9 columns):
id           109194 non-null category
items        109194 non-null object
timestamp    109194 non-null datetime64[ns]
user_id      109194 non-null category
os           109194 non-null category
source       109194 non-null category
browser      109194 non-null category
group        109194 non-null category
session      109194 non-null category
dtypes: category(7), datetime64[ns](1), object(1)
memory usage: 30.8 MB

In [11]:
df_transactions.set_index('id', inplace=True)

In [12]:
df_transactions.head()

,items,timestamp,user_id,os,source,browser,group,session
id,,,,,,,,
-8468716808217914046,"[{'id': -2946697713091517060, 'price': 99.99, ...",2017-09-13 16:12:46,787012871705135056,Windows,desktop,Chrome,F,-8514449600553721711
103257389481310034,"[{'id': -7444430477752553485, 'price': 86.24, ...",2017-09-13 16:30:39,3879043729920840203,Windows,desktop,Chrome,C,-4157417249875967771
998471017524245573,"[{'id': -4553141046227747134, 'price': 154.9, ...",2017-09-13 16:14:05,-5389786785786592819,Windows,desktop,Chrome,G,-2382791529923951593
-8392062821901812660,"[{'id': -5154934163428414730, 'price': 74.99, ...",2017-09-13 16:34:50,-3978845478002365252,Windows,desktop,Chrome,B,-7474144324138992870
-1437509789217736858,"[{'id': 7311257587267350768, 'price': 359.99, ...",2017-09-13 16:30:41,-4978600350686100027,Android,mobile,Chrome,B,3836039149292236146

In [13]:
df_transactions.iloc[1]['items']

[{'id': -7444430477752553485, 'price': 86.24, 'quantity': 1.0},
 {'id': -1593531750981905395, 'price': 29.99, 'quantity': 1.0},
 {'id': -1593531750981905395, 'price': 29.99, 'quantity': 1.0}]

In [14]:
def calculate_revenue(items):
    revenue = 0.0
    for item in items:
        revenue = revenue + (item['quantity'] * item['price'])
    return revenue

In [15]:
df_transactions['revenue'] = df_transactions['items'].map(calculate_revenue)

In [16]:
df_transactions.head()

,items,timestamp,user_id,os,source,browser,group,session,revenue
id,,,,,,,,,
-8468716808217914046,"[{'id': -2946697713091517060, 'price': 99.99, ...",2017-09-13 16:12:46,787012871705135056,Windows,desktop,Chrome,F,-8514449600553721711,99.99
103257389481310034,"[{'id': -7444430477752553485, 'price': 86.24, ...",2017-09-13 16:30:39,3879043729920840203,Windows,desktop,Chrome,C,-4157417249875967771,146.22
998471017524245573,"[{'id': -4553141046227747134, 'price': 154.9, ...",2017-09-13 16:14:05,-5389786785786592819,Windows,desktop,Chrome,G,-2382791529923951593,154.90
-8392062821901812660,"[{'id': -5154934163428414730, 'price': 74.99, ...",2017-09-13 16:34:50,-3978845478002365252,Windows,desktop,Chrome,B,-7474144324138992870,199.96
-1437509789217736858,"[{'id': 7311257587267350768, 'price': 359.99, ...",2017-09-13 16:30:41,-4978600350686100027,Android,mobile,Chrome,B,3836039149292236146,359.99

## Revenue per transaction (RPT) by group

In [21]:
df_revenue_per_transaction = pd.DataFrame(df_transactions.groupby('group')['revenue'].agg(['sum', 'count']))

In [22]:
df_revenue_per_transaction['RPT'] = df_revenue_per_transaction['sum'] / df_revenue_per_transaction['count']

In [91]:
df_revenue_per_transaction.sort_values(by='RPT', ascending=False)

              sum  count         RPT
group
E      2765632.60  14001  197.531076
C      2665391.63  13558  196.591800
F      2588891.64  13305  194.580356
H      2652356.09  14083  188.337434
D      2628788.12  14000  187.770580
A      2565705.21  13703  187.236752
G      2381157.67  12982  183.419941
B      2461017.10  13562  181.464172

In [101]:
print('Group {} had the most Revenue per Transaction ratio:'.format(df_revenue_per_transaction.sort_values(by='RPT', ascending=False).iloc[0].name), df_revenue_per_transaction.sort_values(by='RPT', ascending=False).iloc[0].RPT)

Group E had the most Revenue per Transaction ratio: 197.531076352

In [103]:
print('Group {} had the most revenue:'.format(df_revenue_per_transaction.sort_values(by='sum', ascending=False).iloc[0].name), df_revenue_per_transaction.sort_values(by='sum', ascending=False).iloc[0]['sum'])

Group E had the most revenue: 2765632.6

In [274]:
print('Group {} had the most transactions:'.format(df_revenue_per_transaction.sort_values(by='count', ascending=False).iloc[0].name), df_revenue_per_transaction.sort_values(by='count', ascending=False).iloc[0]['count'])

Group H had the most transactions: 14083.0

Group E seems to be the most effective group.

## Revenue / Visitor

In [55]:
df_visitors = df_pageViews.drop_duplicates()

In [81]:
print('Number of duplicated pageViews values:', len(df_pageViews) - len(df_visitors))

Number of duplicated pageViews values: 378821

In [306]:
revenue_per_visitor = df_transactions.revenue.sum() / len(df_visitors)
print('Revenue per visitor:', revenue_per_visitor)

Revenue per visitor: 0.690558181304

### Visitors info

In [307]:
visitor_by_os = pd.DataFrame(df_visitors.groupby('os')['user_id'].count())
visitor_by_os.columns = ['count']
visitor_by_os.sort_values(by='count', ascending=False)

               count
os
Windows     18069565
Android      8893196
iOS          2190280
Mac           402740
Linux         293469
Ubuntu         95893
Chrome         28895
Other          10757
Fedora          2729
BlackBerry       591
Debian           356
FreeBSD           91
Firefox           47
Symbian           40
Mandriva          14
Bada              10
Symbian^3         10
OpenBSD            4
SUSE               4
Kindle             3
GoogleTV           1
Philips            1
MeeGo              1

In [310]:
visitor_by_browser = pd.DataFrame(df_visitors.groupby('browser')['user_id'].count())
visitor_by_browser.columns = ['count']
visitor_by_browser.sort_values(by='count', ascending=False)

                count
browser
Chrome       25046200
Safari        2130880
Firefox       1923131
IE             398244
Opera          191603
PhantomJS      125281
Android        122135
Chromium        19869
UC              13613
Other            6454
Maxthon          3201
GomezA           2997
Yandex           2195
Iceweasel         780
Pale              602
BlackBerry        590
WebKit            475
SeaMonkey         130
AppleMail         121
NetFront           47
YandexBot          25
Avant              25
BingPreview        18
HbbTV              15
Iron               13
Nokia              11
Dolfin             10
QQ                  8
Sogou               7
Rekonq              5
Python              4
Kindle              3
K-Meleon            2
Baidu               1
Slurp               1
Epiphany            1

In [312]:
visitor_by_source = pd.DataFrame(df_visitors.groupby('source')['user_id'].count())
visitor_by_source.columns = ['count']
visitor_by_source.sort_values(by='count', ascending=False)

            count
source
desktop  18781526
mobile   11206962

In [314]:
visitor_by_group = pd.DataFrame(df_visitors.groupby('group')['user_id'].count())
visitor_by_group.columns = ['count']
visitor_by_group.sort_values(by='count', ascending=False)

         count
group
E      3780878
A      3763073
H      3756430
C      3750075
D      3743560
B      3741302
F      3735017
G      3718362

## Conversion

In [82]:
print('Is the total of transactions the same as the sum of all the transactions grouped by Group?', len(df_transactions) == df_revenue_per_transaction['count'].sum())

Is the total of transactions the same as the sum of all the transactions grouped by Group? True

In [84]:
print('Conversion:', len(df_transactions) / len(df_visitors))

Conversion: 0.0036411718721890453

## Average order value (AOV)

In [85]:
print('Average order value (AOV):', df_transactions.revenue.sum() / len(df_transactions))

Average order value (AOV): 189.652728721

## Other Metrics

### Total revenue

In [121]:
print('Total revenue:', df_transactions.revenue.sum())

Total revenue: 20708940.06

### AlgRef by impressions

In [87]:
df_impressions.head()

,algRef,feature,id,page,products,timestamp,user_id,os,source,browser,group,session
0,5321418768591000592,-7828424103269057573,8765249957191,product,"[3653391013242405988, 3492582560532754791]",2017-08-26 00:05:22,2077291510979737164,Android,mobile,Chrome,G,7849515658654400358
1,8765249957191,5603092165415881620,8765249957191,search,"[1983875142539570898, -1617532069770397932]",2017-08-26 00:05:22,-5794300198289426830,Android,mobile,Chrome,E,-9206771770294839467
2,-7316380623456322413,5603092165415881620,8765249957191,category,"[8345817602690948093, -4685433540937644115]",2017-08-26 00:05:22,-5824671029704807593,Android,mobile,Chrome,B,5469036284027064790
3,8765249957191,-4092588031201132965,8765249957191,product,"[4339435368953319849, -655160631340267337]",2017-08-26 00:05:23,803065015979834204,Android,mobile,Chrome,H,1514327774359276100
4,8765249957191,-4092588031201132965,8765249957191,product,"[2106426664978872773, 1141620332716626693, -64...",2017-08-26 00:05:23,-7681599627122648286,Windows,desktop,Chrome,A,-5014290602732537686

In [305]:
algRef_by_impressions = pd.DataFrame(df_impressions.groupby('algRef')['feature'].count())
algRef_by_impressions.columns = ['count']
algRef_by_impressions.sort_values(by='count', ascending=False)

                        count
algRef
 5321418768591000592  7720606
 8765249957191        7139996
-7316380623456322413  6364701
-4036572744233045313  3228956
-8097938104232819077   597978
 6210645274200748928   219459
-2694931237408746828   199717
 8912499131073959470   166706
-5699424829365636926   157505
 1253328222863831340     2729
-2088053587104646233      410
 303635124662084886         4

In [ ]:
x_plot = impressions_by_algRef.index
y_plot = impressions_by_algRef['impressions']
plot_barchat(x_plot,y_plot,'h','Impressions','Impressions by Algorithm')

### Impressions by group

In [304]:
impressions_by_group = pd.DataFrame(df_impressions.groupby('group')['feature'].count())
impressions_by_group.columns = ['count']
impressions_by_group.sort_values(by='count', ascending=False)

         count
group
C      3293588
D      3271689
H      3259241
G      3235507
E      3233634
F      3180758
B      3167199
A      3157151

### Clicks by page

In [140]:
df_clicks.head()

,feature,id,page,product,timestamp,user_id,os,source,browser,group,session
0,2406596896456549791,8765249957191,category,6952869018143429188,2017-09-13 12:58:08,1865329336598195445,Windows,desktop,Chrome,A,-2433577766061835784
1,-7828424103269057573,8765249957191,product,-5138915283570447380,2017-09-13 12:08:00,3258854675349784616,Android,mobile,Chrome,A,-621823323795459513
2,-4092588031201132965,8765249957191,product,5189448167622118003,2017-09-13 12:47:09,5809670802835063900,Windows,desktop,Chrome,F,-1849947433184614682
3,-7828424103269057573,8765249957191,product,6232867567143294667,2017-09-13 12:12:30,1707018823425502703,Windows,desktop,Chrome,G,4536958708000369694
4,2406596896456549791,8765249957191,category,8439158233758681546,2017-09-13 12:00:18,-5013253789058082303,Windows,desktop,Chrome,D,-6638903481051323134

In [204]:
df_clicks.page.value_counts()

product     728034
category    306468
home        105091
search       30942
cart          9302
other         3131
wishlist        34
Name: page, dtype: int64

In [214]:
print('Most clicks occur on the "{}" session with {} clicks, corresponding to {} of the clicks of the dataset.'.format(df_clicks.page.value_counts().index[0], df_clicks.page.value_counts().values[0], (df_clicks.page.value_counts().values[0] / len(df_clicks))))

Most clicks occur on the "product" session with 728034 clicks, corresponding to 0.6154123154483255 of the clicks of the dataset.

### Clicks by page and product

In [215]:
clicks_by_page_product = pd.DataFrame(df_clicks.groupby(['page', 'product'])['page'].count())
clicks_by_page_product.columns = ['count']
clicks_by_page_product.sort_values(by='count', ascending=False).head(10)

                               count
page     product
product  -8541199829215487257   7581
          8678803998682917511   5694
          5369405460081842340   5012
home      8678803998682917511   4256
product  -1453529097213745109   4020
          268116511737437555    3964
category  8678803998682917511   3642
product   7368759271263076341   3536
category -8541199829215487257   3521
          5269472147272916197   3509

In [249]:
print('The top three products that got clicked the most are "-8541199829215487257", "8678803998682917511" and "5369405460081842340", with 7581, 5694, 5012 clicks respectively. The clicks came all from the product page.')

The top three products that got clicked the most are "-8541199829215487257", "8678803998682917511" and "5369405460081842340", with 7581, 5694, 5012 clicks respectively. The clicks came all from the product page.

### Top three most sold products

In [234]:
ids = []
def get_product_ids(items):
    for item in items:
        ids.append(item['id'])

In [236]:
_ = df_transactions['items'].map(get_product_ids)

In [245]:
sold_products = pd.Series(ids)

In [248]:
sold_products.value_counts().head()

-8541199829215487257    3438
 8678803998682917511    2593
 5369405460081842340    2329
 268116511737437555     1820
 5269472147272916197    1579
dtype: int64

In [250]:
# Top 3 clicked ====> "-8541199829215487257", "8678803998682917511" and "5369405460081842340"
print('The top three most sold products are {}, {} and {}. Which are the top three products that got most clicks.'.format(sold_products.value_counts().index[0], sold_products.value_counts().index[1], sold_products.value_counts().index[2]))

The top three most sold products are -8541199829215487257, 8678803998682917511 and 5369405460081842340. Which are the top three products that got most clicks.

### Checking which impressions got more clicks

In [129]:
df_impressions.id.value_counts()

8765249957191    25798767
Name: id, dtype: int64

In [133]:
len(df_impressions) == df_impressions.id.value_counts()[0]

True

In [126]:
df_clicks.id.value_counts()

8765249957191    1183002
Name: id, dtype: int64

In [252]:
len(df_clicks) == df_clicks.id.value_counts()[0]

True

That seems odd. It appears that only one impression got all the clicks.
I believe this is incorrect.
I noticed that this specific impression id is the same as the second algRef that appeared the most.

### Revenue by user

In [320]:
revenue_by_user = pd.DataFrame(df_transactions.groupby('user_id')['revenue'].agg(['sum', 'count']))
revenue_by_user.sort_values(by='sum', ascending=False).head(10)

                            sum  count
user_id
-5992348442313184460  155704.07    172
-8294029186802564846  130707.45    246
-741877998105615572   119799.92      2
-8992419975538466810   86599.31     16
-6046511448698099338   76798.63    235
-3698913385902928757   71082.56    230
-6354978296712783497   70307.93    186
 1094897730130908863   64257.45    243
-2946885420309936310   63554.16    201
 6701048707985679879   54392.38    206

In [321]:
revenue_by_user.sort_values(by='count', ascending=False).head(10)

                            sum  count
user_id
-8294029186802564846  130707.45    246
 1094897730130908863   64257.45    243
-6046511448698099338   76798.63    235
-3698913385902928757   71082.56    230
 6701048707985679879   54392.38    206
-2946885420309936310   63554.16    201
 7202831921977942302   50771.66    199
 2127597066594497673   49269.97    190
-6354978296712783497   70307.93    186
-5992348442313184460  155704.07    172

## Statistical Significance

We can use the Mann-Whitney-Wilcoxon ranksum test, which does not assume that the data are normally distributed and can help us determine if two distributions are significantly different or not.

### For example

In [256]:
from scipy import stats

In [278]:
distribution1 = df_transactions[df_transactions['group'] == 'A']['revenue']
distribution2 = df_transactions[df_transactions['group'] == 'B']['revenue']

In [261]:
distribution1.head()

id
-5316203479734805975    149.99
-2972393347339997149     19.99
 3300569293957439300     28.76
-2312096879963561663     39.80
 4564354966567737232    249.99
Name: revenue, dtype: float64

In [262]:
distribution2.head()

id
-8392062821901812660    199.96
-1437509789217736858    359.99
-8106047738442177723     79.98
 511499684028692008     249.98
-8596892060615325878     79.99
Name: revenue, dtype: float64

### We can check if there's a significant difference in the revenue of group A x B

In [279]:
_, p_value = stats.ranksums(distribution1, distribution2)
print('P-value:', p_value)
print('Since P > 0.05, we can say that the distributions do not significantly differ. Therefore, changing from group A to B does not affect on the revenue.')

P-value: 0.67713703482
Since P > 0.05, we can say that the distributions do not significantly differ. Therefore, changing from group A to B does not affect on the revenue.

#### We can do that to every group

In [269]:
distribution1 = df_transactions[df_transactions['group'] == 'C']['revenue']
distribution2 = df_transactions[df_transactions['group'] == 'D']['revenue']
_, p_value = stats.ranksums(distribution1, distribution2)
print('P-value:', p_value)

P-value: 0.139006959963

In [270]:
distribution1 = df_transactions[df_transactions['group'] == 'E']['revenue']
distribution2 = df_transactions[df_transactions['group'] == 'F']['revenue']
_, p_value = stats.ranksums(distribution1, distribution2)
print('P-value:', p_value)

P-value: 0.0382481996583

In [276]:
distribution1 = df_transactions[df_transactions['group'] == 'G']['revenue']
distribution2 = df_transactions[df_transactions['group'] == 'H']['revenue']
_, p_value = stats.ranksums(distribution1, distribution2)
print('P-value:', p_value)

P-value: 0.00114441520554

We can see that group E and F have a high confidence, which strengthens the assumption that group E was in fact the most effective group (as shown previously).
The same happens to group G and H.

#### We can follow the same approach to verify the clicks and pageviews by group

In [284]:
clicks_by_group = pd.DataFrame(df_clicks.groupby('group')['feature'].count())
clicks_by_group.columns = ['count']

In [296]:
clicks_by_group

        count
group
A      149664
B      149936
C      148723
D      147253
E      148761
F      145964
G      146324
H      146377

As we can see, it shouldn't differ that much.

In [291]:
distribution1 = clicks_by_group[clicks_by_group.index == 'A']['count']
distribution2 = clicks_by_group[clicks_by_group.index == 'B']['count']
_, p_value = stats.ranksums(distribution1, distribution2)
print('P-value:', p_value)

P-value: 0.317310507863

In [293]:
distribution1 = clicks_by_group[clicks_by_group.index == 'C']['count']
distribution2 = clicks_by_group[clicks_by_group.index == 'D']['count']
_, p_value = stats.ranksums(distribution1, distribution2)
print('P-value:', p_value)

P-value: 0.317310507863

In [294]:
distribution1 = clicks_by_group[clicks_by_group.index == 'E']['count']
distribution2 = clicks_by_group[clicks_by_group.index == 'F']['count']
_, p_value = stats.ranksums(distribution1, distribution2)
print('P-value:', p_value)

P-value: 0.317310507863

In [297]:
distribution1 = clicks_by_group[clicks_by_group.index == 'G']['count']
distribution2 = clicks_by_group[clicks_by_group.index == 'H']['count']
_, p_value = stats.ranksums(distribution1, distribution2)
print('P-value:', p_value)

P-value: 0.317310507863